#site-content .btn-cta.btn-long a {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 500px;
}

#site-content .lp-15{
    letter-spacing: 15px;
}
#site-content .lp-5{
    letter-spacing: 5px;
}
#site-content .event-sche-author a{
    color: #F8A54A;
    text-decoration: underline!important;
    
}
#site-content .bg-white{
    background: white;
}
#site-content .button.btn,
#site-content .btn-cta a,
#site-content button.btn {
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #F9A64A;
    height: 65px;
    border: 2px solid #F9A64A;
    padding: 20px 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 16px;
}

#site-content .btn-cta a {
    max-width: 230px;
    height: auto;
    min-height: 55px;
    margin: 10px 0;
}

#site-content .btn-cta {
    display: block;
}

.blocks-gallery-grid,
.wp-block-gallery {
    width: 100%;
}

#site-content .btn-cta a,
#site-content .button.btn a,
#site-content button.btn a {
    color: white;
}

#site-content .btn-cta a:hover,
#site-content .button.btn:hover,
#site-content button.btn:hover {
    color: #F9A64A;
    background-color: transparent;
    border: 2px solid #F9A64A;
}

#site-content .button.btn:hover a {
    color: #F9A64A;
}


.cld-like-count-wrap.cld-count-wrap,
.cld-dislike-count-wrap.cld-count-wrap {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    color: #666;
}

*:focus {
    outline: 0;
}



.text-center {
    text-align: center;
}


html body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f4;
    overflow-x: hidden;
}

button,
a {
    cursor: pointer;
}

.header-top {
    height: 50px;
    background: #241E1F;
}

.header-top a {
    color: #878787;
    font-size: 14px;
    display: inline-block;
    margin-right: 40px;
    margin-top: 14px;
}

.header-top .avatar-profile {
    float: right;
    margin: 0 20px;
    margin-top: 18px;
    color: white;
}

.header-top .avatar-profile img {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.header-top a.button {
    color: white;
    font-size: 12px;
    height: 25px;
    background-color: #F8A54A !important;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: none;
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 15px;
    /* display: inline-block; */
}

a {
    text-decoration: none !important;
}

a .title:hover {
    text-decoration: underline !important;
    text-decoration-color: #241E1F;

}


* {
    /* text-decoration: none !important; */

}

#site-header .header-inner {
    background-color: #0D87D0 !important;
    height: 110px;
    padding: 0;
    margin: 0;
    width: 100%;

}

#site-header .header-left {
    display: inline-block;
    vertical-align: middle;
    width: calc(120px);
}

#site-header .header-right {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 125px);
    position: relative;
}

#site-header .primary-menu a {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 0px;
}

#site-header .header-inner {
    padding-top: 4px;
}


#site-header button.search {
    padding: 0px 10px;
    background: transparent;
    position: absolute;
    right: 0;
    top: 15px;
}

#site-header ul.primary-menu {
    margin-right: 70px;
    white-space: nowrap;
    /* justify-content: flex-start; */
}

#site-header ul.primary-menu>li {
    margin-top: 0;
    margin: 0 5px;
}

#site-header li.current-menu-item {
    position: relative;
}

#site-header .primary-menu>li:hover:after,
#site-header .primary-menu>li.current-menu-item:after {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: calc(100% - 10px);
    left: 5px;
    bottom: 10px;
}

body #site-footer {
    background-color: #282C33;
    height: 121px;
    border: 0;
}

#site-footer p {
    color: #6F7885;
    font-size: 16px;
    margin: 0;
}

#top-footer {
    background-color: #2D323A;
}


#top-footer p {
    color: #6F7885;
    font-size: 16px;
}

#top-footer h2 {
    font-size: 22px;
    color: #eee;
    margin-top: 0;
}

#top-footer aside {
    padding-top: 100px;
    padding-bottom: 100px;
}

#top-footer .logo {
    margin-bottom: 42px;
    width: 120px;
}

#top-footer .socials {
    list-style: none;
    margin: 0;

}

#top-footer .socials li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 0;
}


#top-footer .socials li a {
    color: #eee;
}

#top-footer .post {
    min-height: 90px;
    position: relative;
    padding: 20px 0;
    display: block;
    border-bottom: 1px solid #444;
}

#top-footer .post:last-child {
    border: 0;
}

#top-footer .post img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    object-fit: cover;
}

#top-footer .post h5 {
    color: #6F7885;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 80px;
    margin-top: 0;
    height: 40px;
    overflow: hidden;
}

#top-footer .post p {
    color: #0D87D0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 80px;
    text-transform: uppercase;
}

#site-content .auth-page {
    padding-bottom: 100px;
    padding-top: 130px;
    background-image: url(/assets/bg.png);
    background-position: center;
    background-size: cover;
}

#site-content .auth-page .form {
    width: 50%;
    margin-left: 50%;

    background: white;
    border-radius: 10px;
    padding: 50px 100px;
}

#site-content .auth-page .form h4 {
    text-align: center;
    color: #393E46;
    font-size: 22px;
}

#site-content .auth-page .form label {
    display: none;
}

#site-content .auth-page .form .text-success {
    font-size: 12px;
    color: green;
}

#site-content .auth-page .form .text-error {
    font-size: 12px;
    color: rgb(167, 14, 14);
}



#site-content .auth-page #wp-submit {
    background: #F9A64B;
    color: white;
    height: 66px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}

#site-content .auth-page #wp-submit:hover {
    border: 2px solid #F9A64B;
    background: white;
    color: #F9A64B;

}

#site-content .auth-page input {
    height: 60px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}

#site-content .auth-redirect {
    margin: 15px;
}

#site-content .auth-redirect a {
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #6F7885;
    font-size: 14px;
}

#site-content .auth-redirect a:nth-child(2) {
    color: #1A77F8;
}

#wpadminbar {
    display: none;
}

.list-post {}

.list-post .post {
    background: white;
    display: inline-block;
    width: calc((100% - 60px)/ 3);
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 40px;
    position: relative;
}

.list-post .post:nth-child(3n) {
    margin-right: 0;
}

.list-post .post .imimgage {
    position: relative;
    height: 200px;
    background: #ccc;

}

.list-post .post .img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.list-post .post .category {
    position: absolute;
    top: 130px;
    left: 30px;
    background: #F9A64A;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    color: white;
}

.list-post .post .title {
    font-size: 18px;
    color: #393E46;
    font-weight: bold;
    margin: 0;
    margin-top: 60px;
    padding: 0 30px;
    position: relative;
    white-space: normal;

}

.list-post .post .title::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 70px;
    background: #0D87D0;
    top: -20px;
}

.list-post .post .content {
    font-size: 16px;
    white-space: normal;
    color: #6F7885;
    margin: 0;
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* max-height: 83px; */
    /* overflow: hidden; */
}

.list-post .post .author {
    background: #FAFAFA;
    min-height: 60px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    display: flex;
}

.list-post .post .author span {
    color: #6F7885;
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.list-post .post .author img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    object-position: center;
    object-fit: cover;
}

.paging-navigation {
    margin: 50px 0;
    text-align: center;
}

.paging-navigation a {
    display: inline-block;
    padding: 14px;
    color: #999999;
    font-size: 14px;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.paging-navigation a.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.paging-navigation a:hover {
    color: #0D87D0;
}

.paging-navigation a.current-page {
    border-radius: 5px;
    border: 1px solid #D9D9D7;
    color: #99999950;

}

.paging-navigation .next {
    border-radius: 5px;
    background: #D9D9D7;
    padding: 14px 35px;
}

.paging-navigation .next:hover {
    background: #0D87D0;
    color: white;
}

.main-banner .blur {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0
}

.main-banner .section-inner {
    position: relative;
    z-index: 1;
}

.main-banner .sliders-signup {
    position: relative;
    height: 300px;
    z-index: 0;
    vertical-align: top;
}

.main-banner .sliders-signup .img {
    height: 100%;
    width: 100%;
    position: relative;

}

.main-banner .sliders-signup img {
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;

}

.main-banner .sliders-signup .post {
    position: absolute;
    border-radius: 10px;
    height: 350px;
}

.main-banner .sliders-signup .post.post-3 .img {
    width: 90%;
    z-index: 3;
    height: 100%;
}

.main-banner .sliders-signup .post.post-2 .img {
    width: 95%;
    height: 100%;
    /* height: 90%; */
    z-index: 2;
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-banner .sliders-signup .post.post-1 .img {
    width: 100%;
    /* height: 80%; */
    padding-top: 10%;
    ;
    padding-bottom: 10%;
    ;
    z-index: 1;
}

.main-banner .sliders-signup .post .title {
    color: white;
}

.main-banner .sliders-signup .post.post-3 .title,
.main-banner .sliders-signup .post.post-2 .title {
    display: none;
    ;
}

.main-banner {
    padding: 0;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;

    padding: 100px 0 200px 0;
}

.main-banner-left {
    width: 50%;
    display: inline-block;
    margin-right: 10%;

}

.main-banner-right {
    width: 40%;
    display: inline-block;
}

.main-banner-right .form {
    padding: 30px 50px;
    background: white;
}

.main-banner-right .form h3 {
    font-size: 20px;
    color: #393E46;
    margin-top: 0;
    margin-bottom: 20px;
}

.main-banner-right .form select,
.main-banner-right .form input {
    background: white;
    height: 61px;
    width: 100%;
    display: block;
    margin-top: 44px;
    font-size: 14px;
    text-indent: 45px;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
}

.main-banner-right .form button {
    width: 100%;
    height: 61px;
    margin-top: 44px;
    display: block;
    cursor: pointer;
    background: #F9A64B;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0;
}

.main-banner-right .form button:hover {
    border: 2px solid #F9A64B;
    background: white;
    color: #F9A64B;
}

#cta .wp-block-image {
    width: 100px;
    float: left;
}

#cta p {
    padding-left: 140px;
    padding-top: 20px;
    width: 400px;
    position: relative;
}

#cta a:after {
    content: '';
    width: 37px;
    height: 24px;
    background: url(/assets/arrow.png);
    display: inline-block;
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 6px;
    right: -27px;

}

#cta {
    padding: 70px 0;
}

#cta h3 {
    color: white;

}

#cta a {
    font-weight: bold;
    font-size: 24px;
    color: #241E1F;
}

#cta a:hover {
    text-decoration: underline !important;
}

#cta .cta-1,
#cta .cta-2 {
    background: white;
    padding: 20px 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#post-2 .section-list {
    padding-top: 70px;
}

#post-2 h4 {
    font-size: 44px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#post-2 #section-events h4 a {
    color: #282C33;
}


#post-2 .section-list p {
    color: #393E46;
    font-size: 14px;
}

#post-2 h4:hover a {
    text-decoration: underline !important;

}

#post-2 .section-list .news>p,
#post-2 .section-list .library>p,
#post-2 .section-list .podcast>p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}

#post-2 .section-list .news>p::after,
#post-2 .section-list .library>p::after,
#post-2 .section-list .podcast>p::after {
    content: '';
    position: absolute;
    height: 1px;
    background: #0D87D0;
    width: 50px;
    bottom: -1px;
    left: 0;

}

#post-2 .section-list .news .post {
    display: block;
    position: relative;
    margin-bottom: 40px;

}

#post-2 .section-list .news .post .category {
    position: absolute;
    background: #F9A64A;
    padding: 10px 30px;
    top: 40px;
    right: 0;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#post-2 .section-list .news .post .img {
    height: 250px;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

#post-2 .section-list .news .post .title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
}

#post-2 .section-list .library .post {
    background: white;
    padding: 15px;
    min-height: 110px;
    display: block;
    border-bottom: 1px solid #ddd;
    position: relative;
}

#post-2 .section-list .library .post .img {
    width: 82px;
    height: 82px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    float: left;
}

#post-2 .section-list .library .post .title {
    color: #393E46;
    font-size: 14px;
    font-weight: bold;
    padding-left: 100px;
    margin: 0;
}

#post-2 .section-list .library .post .min-read {
    color: #AFAFB9;
    font-size: 12px;
    padding-left: 100px;
    margin: 0;
    margin-top: 15px;
    text-transform: uppercase;
}

#post-2 .section-list .podcast .post {
    position: relative;
}

/* #post-2 .section-list .podcast .post:hover img {
    height: 200px;
    transition: height 0.2s ease-in-out;
} */

#post-2 .section-list .podcast .post .index {
    font-size: 36px;
    color: #F9A64A;
    font-weight: bold;
    position: absolute;
    left: 30px;
    top: 15px;
    width: 50px;
}

#post-2 .section-list .podcast .post .title {
    width: calc(100% - 20px);
    background: white;
    color: #393E46;
    font-size: 16px;
    padding: 20px;
    margin: 0;
    padding-left: 90px;


}

#post-2 .section-list .podcast .post img {
    height: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}

#post-2 .section-list .podcast .post:nth-child(3) img {
    height: 190px;
}

#post-2 .section-list .library .post.first {
    background: white;
    padding: 0;
    min-height: 110px;
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

#post-2 .section-list .library .post.first .img {
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 30px;

}

#post-2 .section-list .library .post.first .content {
    font-size: 14px;
    color: #6F7885;
    padding: 0 30px;
    text-align: justify;
    height: 75px;
    overflow: hidden;
}

#post-2 .section-list .library .post.first .title {
    font-size: 22px;
    color: #6F7885;
    padding: 5px 30px;
}

#post-2 .section-list .library .post.first .min-read {
    padding: 5px 30px;
    margin-top: 30px;
}

#post-2 .section-list .library .post.first .category {
    position: absolute;
    top: 40px;
    right: 0;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    background: #F9A64A;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#post-2 .section-list .library .post.first .author {
    position: absolute;
    top: 180px;
    left: 30px;
    color: #ccc;
    display: flex;
    align-items: center;
    font-size: 12px;
}

#post-2 .section-list .library .post.first .author img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 20px;
}

#section-insiders {
    background: #0D87D0;
    padding: 100px 0;
}

#section-insiders h4 {
    color: white;
}

#section-insiders p {
    color: white;
    font-size: 14px;
}

#section-insiders .wp-block-group__inner-container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

#section-insiders .wp-block-group__inner-container::before,
#section-insiders .wp-block-group__inner-container::after {
    content: '';
    height: 100%;
    position: absolute;
    left: -300px;
    top: 0;
    background-image: url(/assets/insider-l.png);
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#section-insiders .wp-block-group__inner-container::before {
    left: unset;
    right: -320px;
    width: 320px;
    background-image: url(/assets/insider-r.png);


}


#section-insiders .post {
    display: inline-block;
    position: relative;
    width: calc(50% - 10px);
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;

}

#section-insiders .post:nth-child(2),
#section-insiders .post:nth-child(4) {
    margin-left: 20px;
}

#section-insiders .post .img {
    height: 100%;
}

#section-insiders .post .img img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;

}

#section-insiders .post .title {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
}

#section-insiders .post .min-read {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    color: rgb(183, 191, 203);
    text-transform: uppercase;
}


#section-insiders .post .author {
    position: absolute;
}

#section-insiders .wp-block-column:nth-child(1) .post {
    width: 100%;
    height: 520px;
}

#section-events {

    padding: 100px 0;
    background: white;
}

#section-events .wp-block-group__inner-container {
    max-width: 1170px;
    margin: 0 auto;
}


#section-events .post:nth-child(1) {
    width: 50%;
}

#section-events .post {
    display: inline-block;
    width: calc(25% - 15px);
    vertical-align: text-top;
    /* padding-right: 15px; */
    margin-right: 15px;
    position: relative;
}

#section-events .post-slide {
    white-space: nowrap;
    overflow: hidden;

}

#section-events .class-partner_name {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 80px;
    padding: 20px;
    color: #F9A64A;

}

#section-events .post-slide a {
    white-space: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
    color: white;
    font-size: 16px;
    height: 160px;
    padding-top: 30px;
}



#section-events .post .img img {
    height: 500px;
    object-position: center;
    object-fit: cover;
    width: 100%;

}

#section-partner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
}


#section-partner h4 a {
    color: #241E1F;
}

#section-partner .list-post-slide {
    white-space: nowrap;
    overflow: hidden;
}

#section-partner .list-post-slide .title {
    white-space: normal;
    margin-bottom: 40px;
}

#post-2 .section-button {
    background: white;
    padding: 100px 0;
    margin: 0;
}

.post-detail {}

.post-banner {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;

}
.post-banner .blur{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.post-banner>img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.post-banner-content {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    z-index: 1;
}

.post-banner-content h1 {
    font-size: 46px;
    color: white;
    margin: 0;
}

.post-banner-content h3 {
    font-size: 12px;
    color: white;
    margin: 0;
    text-transform: uppercase;
    margin-top: 21px;
}


.post-main {
    max-width: 1170px;
    margin: 0 auto;

}

.post-sidebar {
    display: inline-block;
    width: 130px;
    vertical-align: top;
    padding-top: 100px;
    text-align: center;
    position: sticky;
    top: 100px;
}

.post-share {
    width: 70px;
    text-align: center;
    background: white;
    cursor: pointer;
    color: #666;
    padding: 10px 0;
    margin-left: 30px;
    margin-top: 20px;
    display: block;

}

.post-share:hover {
    background: #0D87D0;
    color: white;

}

.post-share span {
    display: block;
    font-size: 12px;
}

.post-sidebar p {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;

}

.post-tag {
    background: #0D87D0;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 30px;
}

.post-content {
    display: inline-block;
    width: calc(100% - 135px);
    background: white;
    vertical-align: top;
    border-radius: 5px;
    margin-top: -120px;
    z-index: 1;
    position: relative;

}

.post-header {
    height: 120px;
    background: white;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;

    font-size: 13px;
    color: #6F7885;
    font-weight: bold;

}

.post-text .wpulike {
    display: none;
}

.post-action .wpulike {
    display: inline-block;
    border-radius: 5px;
    background: white;
    vertical-align: top;
    height: 65px;
    padding: 10px 10px;
}

.post-action .wpulike .count-box {
    display: none;
}

.post-action .wpulike button:after {
    width: 30px;
    height: 30px;
}

.post-header .icon {
    margin-left: 30px;
    margin-right: 10px;
}

.post-author img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;

}

.post-author-name {
    font-size: 13px;
    color: #6F7885;
    font-weight: bold;
}

.post-space {
    flex: 1
}

.post-text {
    padding: 80px;
}

.post-text hr {
    border-color: #EEEEEE;
    margin: 30px 0;
}

.post-text button.btn {
    height: 65px;
    background-color: #ccc;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.post-text button.btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.post-text button.btn>* {
    display: inline-block;
    vertical-align: middle;
}

.post-text button.btn img {
    display: inline-block;
}

.post-text button.btn.btn-warning {
    background-color: #F8A54A;
    color: white;
}

.post-comment-out {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.post-comment-out .post-comment {
    overflow: auto;
    background: white;
    max-width: 900px;
    width: 100%;
    right: 0;
    height: 100vh;
    position: absolute;
}


.post-next {}

.post-next h3 {
    color: #393E46;
    font-size: 34px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 0;
}

.post-next .post {
    display: block;
    min-height: 210px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;

    /* border-top: 1px solid #eee; */
    border-bottom: 1px solid #eee;
    background: #fefefe;
}

.post-next .post img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    float: left;
}

.post-next .post .category,
.post-next .post .title {
    margin: 0;
    padding-left: 230px;
}


.post-next .post .title {
    color: #393E46;
    font-size: 34px;
    margin-top: 25px;
}

.post-next .post .category {
    color: #0D87D0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.post-relate-outer {
    background: white;
    margin-top: 150px;
    padding-top: 70px;
}

.post-detail .wpulike.wpulike-heart>div {
    box-shadow: none;
}

.post-relate-outer h3 {
    font-size: 34px;
    color: #393E46;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.post-relate {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 120px;
    display: flex;
}

.post-relate .post {
    display: inline-block;
    width: calc(50% - 30px);
    height: 240px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;

}

.post-relate .post:nth-child(2),
.post-relate .post:nth-child(4) {
    margin-left: 30px;
}

.post-relate .post .img {
    height: 100%;
    width: 100%;
}

.post-relate .post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.post-relate .post .title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
}

.post-relate .post-relate-left {
    width: 50%;
}

.post-relate .post-relate-right {
    width: 50%;
}

.post-relate .post-relate-left .post {
    width: calc(100% - 30px);
    height: 515px;
}

.post-relate .post-relate-left .post .title {
    font-size: 22px;
}

.subscribe-page {
    text-align: center;
    padding-top: 40px;

}

.subscribe-content {
    background: white;
    padding: 35px;
}
.subscribe-content li{
    text-align: left;
}

.subscribe-page h2 {
    color: #241E1F;
    font-size: 44px;

}

.subscribe-content img {
    margin: 20px auto;
    max-width: 150px!important;
}

.subscribe-content h4 {
    color: #393E46;
    font-size: 22px;
}
.subscribe-content ul{
    max-width: 380px;

}
.subscribe-content li {
    color: #393E46;
    font-size: 16px;
}

.subscribe-content .wp-block-button.is-style-outline .wp-block-button__link {
    border-radius: 5px;
    height: 77px;
    background-color: #F9A64B;
    color: white;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 31px;
    width: 300px;
}

.subscribe-description {
    font-size: 14px;
    color: #6F7885;
    font-weight: bold;

}

.subscribe-content .subscribe-price span {
    font-size: 72px;
    color: #393E46;
    font-weight: 500;

}

.plans .plan-inner {
    display: inline-block;
    width: 33%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.plans .plan {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
    padding-bottom: 20px;
    background: white;

}

.plans .plan h2 {
    font-size: 22px;
    margin: 0;
    padding: 10px;
    background: #ddd;
}

.plans .plan h3 {
    font-size: 30px;
    padding: 50px 20px;
    margin: 0;
}

.plans .plan p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

/* .plan-action button, */
.plans .plan button {
    border-radius: 5px;
    height: 77px;
    border: 1px solid #F9A64B !important;
    color: #F9A64B;
    background-color: white;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 31px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    /* width: 300px; */
}

.plan-action {
    text-align: right;
}

.plans .plan.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.plans .plan.selected h2 {
    color: white;
    background: #F9A64B;

}

/* .plan-action button, */
.plans .plan.selected button {
    background-color: #F9A64B !important;
    color: white !important;
}

.plan-action button:disabled {
    opacity: 0.4 !important;
}

.list-podcast .post .img {
    height: 100%;
    width: 100%;

}

.list-podcast .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.list-podcast .col {
    width: calc(50% - 15px);
    display: inline-block;
    vertical-align: top;
}

.list-podcast .col:nth-child(2n) {
    margin-left: 15px;
}

.list-podcast .col:nth-child(2n + 1) {
    margin-right: 15px;
}

.list-podcast .post {
    display: inline-block;
    height: 240px;
    width: calc(50% - 15px);
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.list-podcast .post:nth-child(2n) {
    margin-left: 15px;
}

.list-podcast .post:nth-child(2n + 1) {
    margin-right: 15px;
}

.list-podcast .col.big .post {
    width: 100%;
    overflow: hidden;
    height: 520px;
}

.list-podcast .post .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 18px;
    margin: 0;
    background: rgba(0, 0, 0, 0.324);

}

.event-banner {
    width: 100%;
    height: 700px;
    position: relative;
    padding-top: 400px;
}

.event-banner img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.event-banner .title {
    color: white;
    font-size: 46px;
    margin: 20px 0;

}

.event-banner .hash {
    color: white;
    font-size: 18px;
}

.event-banner .blur {
    width: 100%;
    height: 700px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}

.event-banner a {
    /* border-radius: 5px;
    color: white;
    background-color: #F9A64B;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px 30px;
    margin-top: 40px;
    display: inline-block; */
}

.event-banner-content {
    position: relative;
    z-index: 1;
    max-width: 1170px;
    margin: 0 auto;
}

.tab-event {
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}

.tab-event a {
    display: inline-block;
    padding: 12px 34px;
    border-bottom: 2px solid transparent;
    color: #393E46;
}

.tab-event a.active {
    display: inline-block;
    padding: 12px 34px;
    color: #393E46;
    font-weight: bold;
    border-bottom: 2px solid #1A77F8;

}

.post-event>img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    ;
    object-fit: cover;
    object-position: center;
}

.post-event .blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}

.post-event .partner-img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.post-event {
    height: 530px;
    position: relative;
    width: calc(33% - 10px);
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
}

.post-event:nth-child(3n) {
    margin-right: 0;
}

.post-event .post-event-content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    font-size: 22px;
    color: white;
    padding: 20px;
}

.post-event .title {
    margin: 0;
    color: white;
    font-size: 22px;
}

.post-event .partner {
    margin: 10px 0;
    color: #F8A54A;
    font-size: 24px;
}




.top-partner {
    background: white;
    padding: 70px 0;
    white-space: nowrap;
    overflow: hidden;
}

.top-partner .partner {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding: 20px 30px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
}

.top-partner .partner p {
    white-space: normal;
    color: white;
    color: #2D323A;
}

.top-partner .partner img {
    margin: 20px auto;
    transition: all 0.2s ease-in-out;
    width: 80px;
}

.top-partner .partner img:hover {
    margin: 0px auto;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

.partner-profile {
    display: flex;
    background: white;
    padding: 50px;
}

.partner-profile button.btn {
    width: 100%;
    display: block;
    background: #F9A64B;
    margin-bottom: 20px;
}

.partner-avatar img {
    height: 100px;
    width: 100px;
}

.partner-avatar {
    padding: 0 10px;
    width: 160px;

}

.partner-content {
    padding: 0 20px;
    width: calc(100% - 410px);
}

.partner-action {
    width: 250px;
    text-align: right;
}

.partner-profile h2 {
    margin: 0;
    color: #393E46;
    font-size: 36px;
}

.partner-action a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    height: 46px;
    width: 46px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    color: #555;
}

.partner-action a:hover {
    color: white;
    background: #0D87D0;

}

.partner-bottom {
    margin-top: 50px;
}

.partner-posts {
    display: inline-block;
    width: 75%;
}

.partner-sidebar {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding-left: 20px;
}

.partner-posts .post {
    display: block;
    background: white;
    margin-bottom: 40px;
    position: relative;
    min-height: 270px;
}

.partner-posts .post img {
    position: absolute;
    top: 0;
    left: 0;
    height: 270px;
    width: 270px;
    object-fit: cover;
    object-position: center;
}

.partner-posts .post .min-read {
    padding-left: 300px;
    padding-top: 20px;
    font-size: 11px;
    color: #6F7885;
    text-transform: uppercase;
    font-weight: bold;
}

.partner-posts .post .title {
    padding-left: 300px;
    color: #393E46;
    font-size: 24px;
    margin: 20px 0;
}

.partner-posts .post .content {
    padding-left: 300px;
    margin: 0;
    color: #6F7885;
    font-size: 16px;
}

.partner-sidebar .news {
    width: 100%;
    background: white;
    min-height: 200px;
}

.btn {}

.tag-list {
    /* margin-top: 40px; */
    text-align: center;
}

.tag-list h5 {
    margin: 0;
    /* padding-left: 170px; */
}

.tag-list .category {
    font-size: 16px;
    display: inline-block;
    /* width: 150px; */
    text-align: center;
    float: left;
    margin: 0;
}

.tag-list a {
    color: white;
    background: #241E1F;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;

}


.tag-list a.active,
.tag-list a:hover {
    background: #0D87D0;
}

.primary-menu>li>.icon {
    color: white !important;
    margin-right: -6px;
    display: none !important;
}

header#site-header {
    /* position: sticky; */
    /* top: -50px; */
    z-index: 100;
    position: sticky;
    top: 0
}
#site-header .header-inner{
}
.menu-modal.active{
    z-index: 111;
}
#site-content {
    /* margin-top: 140px; */
}

#site-header .primary-menu .sub-menu {
    background-color: white;
    min-width: 400px;
    padding: 10px 0;
    border-radius: 10px;
    left: 0px;
    display: none;
    top: 60px
}

#site-header .primary-menu .sub-menu li:hover {
    background-color: #ccc;
}
#site-header .primary-menu .sub-menu li:hover  a{
    border-color: #ccc;
}

#site-header .primary-menu .sub-menu:after,
#site-header .primary-menu .sub-menu:before {
    content: unset;
}


#site-header .primary-menu .sub-menu a {
    color: #282C33;
    border-bottom: 1px solid #f4f4f4;
    padding: 20px;
    text-transform: capitalize;
    font-weight: normal;
    margin: 0;

}

#site-header .primary-menu>li {
    height: 60px;
    position: relative;
    padding-top: 20px;
}

#site-header .primary-menu>li:hover .sub-menu {
    display: block;
}



.post-comment-close{
    display: block;
    position: relative;
    padding: 15px;
}
.partner-list-wrap {
    text-align: center;
    width: 100%;
}

.partner-list-wrap .partner-list {
    /* width: 100%; */
    display: block;
    overflow: hidden;
}


.post-comment .comment-reply-title {
    display: none;
}

.post-comment .comment-meta {
    display: flex;
    min-height: 60px;
    margin-bottom: 0;
}

.comment-metadata {
    display: inline-block;
    margin-left: 30px;
}

.post-comment .avatar {
    border-radius: 60px;
}

.post-comment .comment-content p {
    font-weight: bold;
    font-size: 16px;
    color: #241E1F;
    font-family: 'Montserrat', sans-serif;
}

.post-comment .comment-body {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 50px;
}

.post-comment .comment-footer-meta {
    margin-top: -31px;
    margin-left: 120px;
}

.post-comment .comment-reply a {
    background: transparent;
    color: rgb(175, 175, 175);
    font-weight: bold;
    text-transform: none;
}

.post-comment .wpulike {
    display: none;
}

.profile-tab {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid rgb(78, 76, 76);
    border-top: 2px solid rgb(78, 76, 76);
    margin: 0;
    cursor: pointer;
    background: #d4d3d3;
    opacity: 0.7;
    margin-bottom: 50px;
    color: #241E1F;

}

.profile-tab.active,
.profile-tab:hover {
    border: 1px solid #241E1F;
    border-top: 2px solid #241E1F;
    background: white;
    opacity: 1;

}

.profile-item {
    margin-top: 20px;
}

.profile-item p:nth-child(1) {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    vertical-align: top;
}

.profile-item input[type="password"],
.profile-item input {
    width: calc(100% - 210px);
    border: 1px solid #282C33;
    padding: 15px;
    font-size: 16px;
    display: inline-block;
}

.profile-item input:disabled {
    opacity: 0.5;
    border: 1px solid #ccc;
}

.profile button {
    margin-top: 50px;
}

*,
*::after,
*::before {
    box-sizing: border-box !important;
}

.fa {
    font-family: 'FontAwesome' !important;
}

.list-banner {
    background: black;
    padding: 40px 0 40px 0;
    /* text-align: center; */
}

.list-banner span,
.list-banner h3,
.list-banner p {
    color: white;
    margin: 10px;
    font-weight: bold;
}

.list-banner p {
    max-width: 1170px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 16px;
}

.list-banner h3 {
    margin: 40px;
}

.list-banner .line {
    width: 100px;
    height: 2px;
    background: white;
    margin: 40px auto;
}

.wpcf7 {
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.wpcf7-form .popup-success{
    display: none;
}
.wpcf7-form.sent{
    background: white;
    border: 2px solid #0D87D0;
}
.wpcf7-form.sent h3,
.wpcf7-form.sent p
{
    color: #555;
}


.wpcf7 .row-input input[type=submit] {
    color: white;
    height: 50px;

    font-size: 16px;
    margin-left: 20px;
    background: #F9A64A;
    padding: 17px;
    border-radius: 0;
}

.wpcf7 .sent div.wpcf7-mail-sent-ok {
    display: none!important;
}
.wpcf7-form.sent button.btn{

    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #F9A64A;
    height: 65px;
    border: 2px solid #F9A64A;
    padding: 20px 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 16px;
    margin: 20px auto;
    
}
.wpcf7-form.sent button.btn:hover{
    color: #F9A64A;
    background-color: transparent;
    border: 2px solid #F9A64A;

}
.wpcf7-form.sent .popup{
    display: none;
}
.wpcf7-form.sent .popup-success{
    display: block;
}

.wpcf7 form {
    background: #0D87D0;
    max-width: 900px;
    width: 100%;
    text-align: center;
    padding: 30px 150px;
}

.wpcf7 form p,
.wpcf7 form h3 {
    color: white;
}
.wpcf7 form h3 span{
    background: #F8A54A;
    display: inline-block;
    padding: 5px 10px;
}

.wpcf7 form h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wpcf7 form img {
    margin: 0 auto;
    width: 140px;
}

.wpcf7 form p {
    font-size: 16px;
}

.wpcf7 .row-input {
    display: flex;
    align-items: center;

    margin: 20px 0;
    margin-bottom: 20px;
}

.wpcf7 .row-input input {
    height: 40px;
    margin-bottom: 10px;
    flex: 1;
}
.wpcf7 .line-input {
    width: 100%;
}
.wpcf7 .line-input br{
    display: none;
}



.wpcf7 .wpcf7-not-valid-tip {
    color: white;
    font-size: 12px;

    display: block;
    margin-top: 10px;
}

.wpcf7 div.wpcf7-mail-sent-ok {
    background: white;
    font-size: 16px;
    padding: 10px;
    color: #398f14;

}

.wpcf7 div.wpcf7-validation-errors,
.wpcf7 div.wpcf7-acceptance-missing {
    background: white;
    font-size: 16px;
    padding: 10px;
    color: #7c7400;
}


.search-modal .search-field{
    padding-left: 40px!important;
}
.search-modal.active .search-untoggle{
    margin-right: 0;
}

@media (max-width: 992px) {
    #section-insiders .wp-block-group__inner-container::before,
    #section-insiders .wp-block-group__inner-container::after{
        content: unset;
    }
    #section-events .post{
        width: 100%!important;
    }
    #site-header ul.primary-menu {
        display: none;
    }

    .toggle-inner .toggle-text {
        display: none;
    }

    #site-content .section-inner {
        padding: 0 20px;
    }

    .header-inner .toggle {
        top: 0px !important;
        height: 100%;
    }

    #site-header button.search {
        display: none;
    }

    #site-header .header-left {
        margin-left: calc(50% - 60px);
        height: 80px;
    }

    .site-logo img,
    .header-titles {
        height: 80px;
        max-height: 80px !important;

    }

    .header-inner .toggle svg path {
        fill: white;
    }

    .list-post .post {
        width: 100%;
    }

    .footer-widgets {
        width: 100%;
    }

    #top-footer {
        padding: 20px;
    }

    #site-footer {
        padding: 20px;
    }

    .main-banner .main-banner-left {
        width: 100%;
        margin: 0;
        padding: 20px;
        height: 400px;
    }

    .main-banner-right {
        width: 100%;
        padding: 20px;
        margin-top: 100px;

    }
    #post-2 .news{
        padding-top: 50px;
    }
    #section-partner,
    #section-events,
    #section-insiders{
        padding: 100px 15px;
    }
    .main-banner-right .form{
        padding: 30px;
    }
    .main-banner{
        padding-bottom: 50px;
    }
    .header-top a {
        margin-right: 10px;
    }
    #cta .cta-1, #cta .cta-2{
        padding: 0;
    }
    #cta a:after{
        content: unset;
    }
    .slider-post .back, .slider-post .next{
        display: none;
    }

    .post-sidebar{
        display: block;
        width: 100%;
        padding-top: 0;
        position: relative;
        top: 0;
    }
    .post-share{
        display: inline-block;
        margin: 10px;
    }
    .post-sidebar p{
        display: none;
    }
    .post-content{
        width: 100%;
        margin-top: 0px;
    }
    .post-text{
        padding: 50px 15px;
    }
    .post-header{
        padding: 15px;
    }
    .post-next .post .category, .post-next .post .title{
        padding: 0;
        padding-top: 20px;
    }

    .post-next .post img{
        float: none;
        width: 100%;
    }
    .post-next .post .title{
        font-size: 18px;
        margin-top: 0;
    }
    .post-relate .post-relate-right,
    .post-relate .post-relate-left,
    .post-relate .post-relate-left .post{
        width: 100%;
    }
    .post-relate{
        display: block;
        padding: 15px;
    }
    .post-relate .post{
        width: 100%;
        margin-left: 0!important;

    }
    .post-banner-content{
        padding: 15px;
    }
    .post-banner-content h1{
        font-size: 24px;
    }
    .post-banner{
        align-items: flex-end;
    }
    .post-event{
        width: 100%;
    }
    .event-banner .title{
        font-size: 24px;
    }
    .event-banner-content{
        padding: 15px;
    }
    .tab-event a.active{
        padding: 12px;
    }
    .tab-event a{
        padding: 12px;

    }

    .profile-item p:nth-child(1){
        width: 100%;
    }
    .profile-item input[type="password"], .profile-item input{
        width: 100%;
    }
    .modal-menu > li > a, .modal-menu > li > .ancestor-wrapper > a{
        color: #0D87D0
    }
    .header-top a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .list-podcast .col{
        width: 100%;
    }
    .list-podcast .post{
        width: 100%;
    }
    .list-podcast .post:nth-child(2n),
    .list-podcast .col:nth-child(2n){
        margin-left: 0;
    }
    .paging-navigation a,
    .paging-navigation .next,
    .paging-navigation .prev{
        padding: 14px;
    }
    .post-next .post{
        padding: 15px;
    }
    #site-footer p{
        font-size: 14px;
        padding: 10px;
    }
    button.close-nav-toggle .toggle-text{
        display: none;
    }
    .menu-top{
        
    padding-right: 16px;
    }
    .post-header .icon{
        margin-left: 5px;
    }
    #post-2 h4{
        font-size: 30px;
    }
    #cta p{
        width: auto;
        padding-left: 100px;
        padding-top: 30px;
    }
    #cta a{
        font-size: 18px;
    }
    .sliders-signup .next{
        right: -8px;
        top: 42%;
    }
    #section-events .wp-block-column,
    .library .wp-block-column,
    .podcast .wp-block-column,
    .news .wp-block-column {
        flex-basis: unset!important;
    }
    #site-content .auth-page .form{
        width: 100%;
        margin-left: 0;
        padding: 30px;
    }
    #site-content .auth-page #wp-submit{
        padding: 10px;
    }
    #section-insiders .post{
        display: block;
        width: 100%;
    }
    .plans .plan-inner{
        display: block;
        width: 100%;
    }
    .top-partner .partner{
        width: 280px;
    }
    .header-top .avatar-profile{
        margin: 0 10px;
        margin-top: 18px;
    }
    .header-top {
        font-size: 12px;
    }
    .header-top a.button{
        margin-left: 5px;
    }
    .list-post .post{
        margin-right: 0;
    }
    #site-header .header-inner{
        height: 70px;
    }
    .site-logo img{
        height: 63px;
    }
    .wpcf7 form{
        padding: 20px;
        max-width: 90vw;
    }
    .wpcf7 .row-input{
        display: block;
    }
    .wpcf7 form img{
        display: none;
    }
}